body {background-color: black;
border: solid;
margin: 10px;
border-color: rgb(119,119,119);
padding 5px;
}

h1 {text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

 
nav {text-align: center;
}

h2 {
    text-align: left;
    color: white;
} 

img {float: right;
    margin: 10px 200px 30px 20px;
    border: solid;
    border-color: rgb(119,119,119);
    padding: 5px;
    height: 350px;
    width: 300px
}
p {text-align: left;
    font-weight: lighter;
    line-height: 30px;
    margin: 0px 0px 0px 200px;
    color: white;
}

footer {text-align: center;
}
a {color: aquamarine;
}

