body {
    background-color: darkslategray;
    border: solid;
    margin: 30px;
    border-color: rgb(119, 119, 119);
    padding 30px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

nav {
    text-align: center;
}

h2 {
    text-align: left;
    color: white;
    margin: 100px 100px 0px 200px;
}

img {
    /* float: right; */
    border: solid;
    margin: 0px 0px 0px 200px;
    border-color: rgb(119, 119, 119);
    padding: 5px;
    height: 350px;
    width: 200px;
}

p1 {
    /* float: left; */
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    margin: -300px 0px 400px 0px;
    color: white;
}

p2 {
    /* float: left; */
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
    margin: -375px 0px 400px 0px;
    color: white;
}

footer {
    text-align: center;
    margin: 100px 100px 0xp 200px;
}

a {
    color: aquamarine;
}